<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FakeGPS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E838FDB51D3DBC500090F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E838FDCE1D3DBC510090F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E838FDD91D3DBC510090F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
